{% extends 'base.html' %}

{% block title %}My Expense Categories{% endblock %}

{% block content %}
    <h1>My Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in category_list %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}