{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
    <div>
        <h1>Create Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock %}
